h1{
    text-align: center;
}

#hIg{
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    background-color: rgb(242, 242, 242);
    width: 500px;
    height: 500px;
    font-family: 'roboto', sans-serif;
    margin-top: 100px;
}

#bIg{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

img{
    margin-top: 10px;
    width: 100%;
    height: 400px;
}

.tXt{
   margin: 10px, 0, 10px, 20px;
    text-align: left;
    font-weight: 100;
}